img{
  width:10rem;
  height:auto;
  max-height:594px;
  max-width:100%;
  display:block;
  margin-top:15px;
  border:5px solid white;
}
div{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
h3{
  text-align:center;
}
main{
  font-family:sans-serif;
  background-color:#1b1c1a;
  color:#f5f6f7;
  padding:0 10px;
}
p{
  margin:0;
  padding-bottom:10px;
}
a{
  color:white;
  text-shadow:0.5px 0.5px;
}
